@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Markazi+Text:wght@400;500;600;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.detail {
  background: #C4C4C4;
  border-radius: 20px;
}

#faq-ul {
  list-style: none;
}

/* Name CSS Styles */
#name {
  font-family: 'Markazi Text', serif;
}


details summary {
  font-weight: bold;
}